
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ path('g_fire_site_homepage') }}" title="Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> File Setup<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('chartofaccount') }}">Chart Of Accounts</a>
                    </li>
                    <li>
                        <a href="{{ path('generallibrary') }}">General Library</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Code Setup <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ path('book') }}" title="Groups">Books</a>
                                <a href="{{ path('chartofaccountgroup') }}" title="Groups">Groups</a>
                                <a href="{{ path('industry') }}" title="Industries">Industry</a>
                                <a href="{{ path('generallibrary_category') }}" title="Categories">Categories</a>
                                <a href="{{ path('project') }}" title="Projects">Projects</a>
                                <a href="{{ path('department') }}" title="Departments">Departments</a>
                                <a href="{{ path('bank') }}">Banks</a>
                                <a href="{{ path('fixasset') }}">Fix Asset Account Setup</a>
                                <a href="{{ path('prepayment') }}">Prepayment Account Setup</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Beginning Balances</a>
                    </li>
                    <li>
                        <a href="#">Book Templates</a>
                    </li>
                    <li>
                        <a href="#">Particular Templates</a>
                    </li>
                    <li>
                        <a href="#">Transaction Setup</a>
                    </li>
                    <li>
                        <a href="{{ path('currency') }}">Currency Setup</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Tax File Setup <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ path('tax_finalwithheld') }}">Final Income Taxes Witheld Setup</a>
                            </li>
                            <li>
                                <a href="{{ path('tax_expandedwithheld') }}">Expanded Tax Withheld Library</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Transactions<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="{{ path("invoice") }}" title="Invoices">Invoices</a>
                        <a href="" title="Official Receipts">Official Receipts</a>
                        <a href="" title="Check Vouchers">Check Vouchers</a>
                        <a href="" title="Journal Vouchers">Journal Vouchers</a>
                        <a href="" title="Account Payable Vouchers">Account Payable Vouchers</a>
                        <a href="" title="Petty Cash Voucher">Petty Cash Voucher</a>
                        <a href="" title="Debit / Credit Memo">Debit / Credit Memo</a>
                    </li>
                </ul>
            </li>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Posting</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Reports<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="icons.html"> Icons</a>
                    </li>
                    <li>
                        <a href="grid.html">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Utilities<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> System Configuration<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="blank.html">Blank Page</a>
                    </li>
                    <li>
                        <a href="login.html">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>