<table class="table  table-condensed table-hover">
    <thead>
    <tr>
        <th>
            <span>Book</span>
            {% if sort_field == 'book' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'book','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th><span>Invoice Number</span>
            {% if sort_field == 'number' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'number','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th><span>Client</span>
            {% if sort_field == 'client' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'client','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th><span>Total Amount</span>
            {% if sort_field == 'total' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'total','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th><span>Currency</span>
            {% if sort_field == 'currency' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'currency','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th><span>Due Date</span>
            {% if sort_field == 'duedate' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'duedate','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th><span>Status</span>
            {% if sort_field == 'status' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'status','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>

        <th><span>Created Date</span>
            {% if sort_field == 'createdat' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'createdat','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th>
            <span>Last Saved</span>
            {% if sort_field == 'updatedat' %}
                <a href="{{ path('invoice',{'page' : pager.page,'sort_field':sort_field,'sort_order':sort_order,'sort' : 1})}}" class="sort active">
                    <i class="glyphicon glyphicon-chevron-{{sort_order == 'asc' ? 'up': 'down'}}"></i>
                </a>
            {% else %}
                <a  href="{{ path('invoice',{'page' : pager.page,'sort_field':'updatedat','sort_order':sort_order,'sort' : 1})}}" class="sort" >
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            {% endif %}
        </th>
        <th class="action">Action</th>
    </tr>
    </thead>
    <tbody>
    {% if pager is iterable %}
        {% for item in pager %}
            <tr class="draft">
                <td>
                    {{ item.book }}
                </td>
                <td>{{ item.invoiceNumber }}</td>
                <td>{{ item.generalLibrary }}</td>
                <td>{{ item.totalAmount }}</td>
                <td>{{ item.currency }}</td>
                <td>{{ item.dueDate|date("F d, Y") }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.createdAt|date("F d, Y h:i A") }}</td>
                <td>{{ item.updatedAt|date("F d, Y h:i A") }}</td>
                <td class="text-center">
                    <a href="{{ path('invoice_edit',{'id': item.id })}}"  title="Edit" class="btn btn-primary">Edit</a>
                    <a href='' title="Remove" class="btn btn-primary delete-item"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}

    {% else %}
        <tr class="draft">
            <td colspan="6"><h4 class="text-center">No Items Found.</h4></td>
        </tr>
    {% endif %}
    </tbody>

    <tfoot>
    </tfoot>
</table>

{% if pager.haveToPaginate %}

    <nav class="text-right">
        <ul class="pagination">
            {% if pager.page > 2  %}
                <li><a href="{{ path('invoice')}}" class="page_nav">&laquo;</a></li>
            {% endif %}

            {% if pager.page != pager.previouspage %}
                <li><a href="{{ path('invoice',{'page' : pager.previouspage,'sort_field':sort_field,'sort_order': sort_order})}}" title="" class="page_nav">&lsaquo;</a></li>
            {% endif %}

            {% for page in pager.getLinks(5) %}
                {% if page == pager.page %}
                    <li class="active"><a href="{{ path('invoice',{'page' : page,'sort_field':sort_field,'sort_order': sort_order})}}" class="page_nav">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ path('invoice',{'page' : page,'sort_field':sort_field,'sort_order': sort_order})}}" class="page_nav">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if pager.page != pager.nextpage %}
                <li><a href="{{ path('invoice',{'page' : pager.nextpage,'sort_field':sort_field,'sort_order': sort_order})}}" title="" class="page_nav">&rsaquo;</a></li>
            {% endif %}

            {% if pager.page != pager.lastpage and pager.lastpage != pager.nextpage %}
                <li><a href="{{ path('invoice',{'page' : pager.lastpage,'sort_field':sort_field,'sort_order': sort_order})}}" title="" class="page_nav">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
